body {
    margin: 0;
    padding: 0;
    background-color: #1d809f;
    height: 100vh;
}
#confirm .container #confirm-row #confirm-column #confirm-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#confirm .container #confirm-row #confirm-column #confirm-box #confirm-form {
    padding: 20px;
}
#confirm .container #confirm-row #confirm-column #confirm-box #confirm-form #register-link {
    margin-top: -85px;
}