<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Amir Boroumand" />
    <link rel="icon" href="favicon.ico" />

    <title>User Registration with Spring Boot</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link th:href="@{vendor/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet">


    <link th:href="@{css/confirm.css}" rel="stylesheet" />
</head>

<body>

<div class="confirm">

    <h3 class="text-center text-white pt-5">Set Your Password</h3>

    <div class="container">
        <div id="confirm-row" class="row justify-content-center align-items-center">
            <div id="confirm-column" class="col-md-6">
                <div id="confirm-box" class="col-md-12">

                    <form th:if="!${invalidToken}" class="m-t" id="confirm-form" role="form" action="#"
                          th:object="${setPassword}" th:action="@{/confirm}" method="post">

                        <div th:if="${successMessage}" class="alert alert-success"
                             role="alert" th:text=${successMessage}></div>

                        <div th:if="${errorMessage}" class="alert alert-danger"
                             role="alert" th:text=${errorMessage}></div>

                        <div th:if="${invalidToken}" class="alert alert-danger"
                             role="alert" th:text=${invalidToken}></div>

                        <input type="hidden" name="token" th:value=${confirmationToken}>

                        <div class="form-group input-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input name="password" type="password" id="password"
                                   class="form-control" required />
                            <span class="glyphicon"
                                  aria-hidden="true"></span>
                        </div>

                        <div class="form-group input-group has-feedback">
                            <label for="signup-password-confirm" class="text-info">Confirm Password:</label><br>
                            <input type="password" class="form-control" id="signup-password-confirm" placeholder="Confirm Password" name="ConfirmPassword" data-fv-notempty="true"
                                   data-fv-notempty-message="Please confirm password"
                                   data-fv-identical="true"
                                   data-fv-identical-field="password"
                                   data-fv-identical-message="Both passwords must be identical" />

                            <div class="help-block with-errors"></div>
                        </div>



                        <button type="submit"
                                class="btn btn-primary block full-width m-b">Save
                        </button>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript -->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Bootstrap Validator plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

<script>
    $(document).ready(function() {
        $('#passwordForm').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {

                password: {
                    validators: {
                        notEmpty: {
                            message: 'The password is required'
                        },
                        callback: {
                            callback: function(value, validator, $field) {
                                var password = $field.val();
                                if (password == '') {
                                    return true;
                                }

                                var result  = zxcvbn(password),
                                    score   = result.score,
                                    message = result.feedback.warning || 'The password is weak';

                                // Update the progress bar width and add alert class
                                var $bar = $('#strengthBar');
                                switch (score) {
                                    case 0:
                                        $bar.attr('class', 'progress-bar progress-bar-danger')
                                            .css('width', '1%');
                                        break;
                                    case 1:
                                        $bar.attr('class', 'progress-bar progress-bar-danger')
                                            .css('width', '25%');
                                        break;
                                    case 2:
                                        $bar.attr('class', 'progress-bar progress-bar-danger')
                                            .css('width', '50%');
                                        break;
                                    case 3:
                                        $bar.attr('class', 'progress-bar progress-bar-warning')
                                            .css('width', '75%');
                                        break;
                                    case 4:
                                        $bar.attr('class', 'progress-bar progress-bar-success')
                                            .css('width', '100%');
                                        break;
                                }

                                // We will treat the password as an invalid one if the score is less than 3
                                if (score < 3) {
                                    return {
                                        valid: false,
                                        message: message
                                    }
                                }

                                return true;
                            }
                        }
                    }
                }
            }
        });
    });
</script>

</body>
</html>