<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="User account registration" />
    <meta name="author" content="Amir Boroumand" />
    <link rel="icon" href="favicon.ico" />

    <title>Registration Page</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link th:href="@{vendor/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet">

    <link th:href="@{css/register.css}" rel="stylesheet" />
</head>

<body>

<div id="register">

    <h3 class="text-center text-white pt-5">New User Registration</h3>

    <div class="container">
        <div id="register-row" class="row justify-content-center align-items-center">
            <div id="register-column" class="col-md-6">
                <div id="register-box" class="col-md-12">
                    <form id="register-form" autocomplete="off" action="#" th:action="@{/register}"  th:object="${user}" method="post" class="m-t"
                          role="form" data-toggle="validator">

                        <div th:if="${confirmationMessage}" class="alert alert-success"
                             role="alert" th:text=${confirmationMessage}>

                        </div>

                        <div th:if="${errorMessage}"
                             class="alert alert-danger" role="alert"
                             th:text="${errorMessage}">

                        </div>


                        <div th:if="${#fields.hasErrors('firstName')}"
                             th:errors="*{firstName}"
                             class="validation-message alert alert-danger" role="alert">

                        </div>

                        <div th:if="${#fields.hasErrors('lastName')}"
                             th:errors="*{lastName}"
                             class="validation-message alert alert-danger" role="alert">

                        </div>

                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                             class="validation-message alert alert-danger" role="alert">

                        </div>

                        <div class="form-group has-feedback">
                            <label th:if="${#fields.hasErrors('firstName')}"
                                   th:errors="*{firstName}" class="validation-message"></label>
                            <label for="firstName" class="text-info">First Name:</label><br>
                            <input type="text" th:field="*{firstName}"
                                   id="firstName" class="form-control" required />
                            <span class="glyphicon form-control-feedback"
                                  aria-hidden="true"></span>
                        </div>

                        <div class="form-group has-feedback">
                            <label for="lastName" class="text-info">Last Name:</label><br>
                            <input type="text" th:field="*{lastName}"
                                   id="lastName" class="form-control" required />
                            <span class="glyphicon form-control-feedback"
                                  aria-hidden="true"></span>
                        </div>

                        <div class="form-group has-feedback">
                            <label for="email" class="text-info">Email Address:</label><br>

                            <input type="email" th:field="*{email}"
                                   id="email" class="form-control"
                                   data-error="This email address is invalid" required />
                            <span class="glyphicon form-control-feedback"
                                  aria-hidden="true"></span>

                        </div>

                        <button type="submit"
                                class="btn btn-primary block full-width m-b">Register</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript -->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Bootstrap Validator plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>


</body>

</html>